<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team3.ms.mystocks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.PersonalStockRanking"></activity>
        <activity
            android:name=".view.stock_detail"
            android:label="@string/title_activity_stockdetail" />
        <activity android:name=".view.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <activity android:name=".view.Registrationpage"></activity> -->
                <!-- <activity android:name=".view.Changepasswordpage"></activity> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Allstocks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".view.TransactionRecord">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".view.mystock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="ACTION_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Registrationpage" />
        <activity android:name=".view.Changepasswordpage" />
        <activity android:name=".view.homePage" />
        <activity android:name=".view.new_detail_page" />
        <activity android:name=".view.stock_detail_new" />
        <activity android:name=".view.Inquery" />
        <activity android:name=".view.search_res" />
        <activity android:name=".view.homePage_orin" />
        <activity android:name=".view.personalPage" />
        <activity android:name=".view.dailyincPage" />
        <activity android:name=".view.dailyIncAndLos" />
        <activity android:name=".view.myfunds" />
    </application>

</manifest>